.git
.github
.claude
.idea
.vscode
node_modules
**/node_modules
**/dist
**/.output
**/.nuxt
**/.nitro
**/coverage
*.log

**/.env*
!.env.example

**/*.spec.ts
**/*.test.ts
Babfile.yaml
**/babfiles
lefthook.yml
commitlint.config.js
