NODE_ENV=development

# API
API_HOST=0.0.0.0
API_PORT=3000
API_PUBLIC_URL=http://localhost:3000

# Database
DATABASE_URL=postgres://hayase:hayase@localhost:5432/hayasedb

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Auth
AUTH_SECRET=
AUTH_TRUSTED_ORIGINS=http://localhost:3001,http://localhost:3002,http://127.0.0.1:3001
AUTH_TRUSTED_PROXIES=127.0.0.1,::1,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
WEB_PUBLIC_URL=http://localhost:3001
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Storage (MinIO)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=CHANGEME
MINIO_SECRET_KEY=CHANGEME12
MINIO_BUCKET=media
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_CONSOLE_PORT=9001
MINIO_DOMAIN=cdn.hayasedb.com
MINIO_CONSOLE_DOMAIN=minio.hayasedb.com

# Mail
MAIL_DRIVER=smtp
MAIL_FROM='Hayasedb <no-reply@hayasedb.com>'
MAIL_SMTP_HOST=localhost
MAIL_SMTP_PORT=1025
MAIL_SMTP_SECURE=false
MAIL_SMTP_USER=
MAIL_SMTP_PASS=
MAIL_RESEND_API_KEY=

# Infra
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=hayase
POSTGRES_PASSWORD=hayase
POSTGRES_DB=hayasedb
MAILPIT_UI_PORT=8025

# Nuxt
NUXT_API_URL=http://localhost:3000
WEB_PORT=3001
ADMIN_PORT=3002

# Deployment
TAG=latest
API_DOMAIN=api.hayasedb.com
WEB_DOMAIN=hayasedb.com
ADMIN_DOMAIN=admin.hayasedb.com
