services:
  postgres:
    ports:
      - "${POSTGRES_PORT:-5432}:5432"

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    image: hayasedb-api:dev
    environment:
      API_ENV: development
      API_SWAGGER_ENABLED: "true"
      API_DATABASE_LOGGING: "true"
