node_modules
dist
.git
.github
*.md
README*
.env*
.vscode
.idea
coverage
test
**/*.spec.ts
**/*.test.ts
tsconfig*.json
nest-cli.json
.prettierrc
.eslintrc*
eslint.config.*
jest.config.*
.gitignore
.dockerignore
Dockerfile
